@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.Formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.Input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    box-shadow: none;
}

.Botao {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #6A8C69;
    font-weight: 700;
}

.Botao:hover {
    background-color: #53736A;
    cursor: pointer;
}

h1 {
    font-family: "Just Another Hand", cursive;
    font-size: 50px;
    font-weight: 200;
    color: black;
}

@media screen and (min-width: 455px){
    .Formulario {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 10px;
        margin: 10px;
    }

    .Input {
        margin: 5px;
        padding: 10px;
        max-width: 700px;
        border-radius: 5px;
        border-color: black;
        box-shadow: none;
    }
    
    .Botao {
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        max-width: 455px;
        border: 2px solid black;
        background-color: #6A8C69;
        font-weight: 700;
    }
    
    .Botao:hover {
        background-color: #53736A;
        cursor: pointer;
    }
    
    h1 {
        font-family: "Just Another Hand", cursive;
        font-size: 50px;
        font-weight: 200;
        color: black;
    }
}
